<!DOCTYPE html>

<html>

<head>
    <title>Super Bowling!</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="script.js"></script>
</head>

<body ng-app="bowlApp" ng-controller="bowlController as bowlCtrl">
    <div id="mainContent">
        <h1>Super Bowling!</h1>
        <table class="card">
            <tr class="rolls">
                <td align="center">{{aScore[0]}}</td>
                <td align="center">{{aScore[1]}}</td>
                <td align="center">{{aScore[2]}}</td>
                <td align="center">{{aScore[3]}}</td>
                <td align="center">{{aScore[4]}}</td>
                <td align="center">{{aScore[5]}}</td>
                <td align="center">{{aScore[6]}}</td>
                <td align="center">{{aScore[7]}}</td>
                <td align="center">{{aScore[8]}}</td>
                <td align="center">{{aScore[9]}}</td>
                <td align="center">{{aScore[10]}}</td>
                <td align="center">{{aScore[11]}}</td>
                <td align="center">{{aScore[12]}}</td>
                <td align="center">{{aScore[13]}}</td>
                <td align="center">{{aScore[14]}}</td>
                <td align="center">{{aScore[15]}}</td>
                <td align="center">{{aScore[16]}}</td>
                <td align="center">{{aScore[17]}}</td>
                <td align="center">{{aScore[18]}}</td>
                <td align="center">{{aScore[19]}}</td>
                <td align="center">{{aScore[20]}}</td>
            </tr>
            <tr class="score">
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="2"></td>
                <td align="center" colspan="3"></td>
            </tr>
        </table>
    </div>

    <div id="buttons">
        <form ng-submit="rollAdd()">
            <button type="submit" ng-click="sub = 0">Nooooo!</button>
            <button type="submit" ng-click="sub = 1">One</button>
            <button type="submit" ng-click="sub = 2">Two</button>
            <button type="submit" ng-click="sub = 3">Three</button>
            <button type="submit" ng-click="sub = 4">Four</button>
            <button type="submit" ng-click="sub = 5">Five</button>
            <button type="submit" ng-click="sub = 6">Six</button>
            <button type="submit" ng-click="sub = 7">Seven</button>
            <button type="submit" ng-click="sub = 8">Eight</button>
            <button type="submit" ng-click="sub = 9">Nine</button>
            <button type="submit" ng-click="sub = 10">Tacos!</button>
        </form>
    </div>

</body>

</html>